 @media screen and (min-width: 1024px) and (max-width: 1366px){
      .jumbo-main {
        background-image:linear-gradient(141deg, #E91E63 0%, #B39DDB 15%, #673AB7 35%,#4A148C 51%, #E1BEE7 75%,#B39DDB 90%,#4A148C 100% ), url(D:/churchlocator/images/crossnew1.jpg);
      background-blend-mode:multiply;
   background-blend-mode: multiply;
      background-repeat:no-repeat;background-size:100% 100%;display: block;padding-top: 15px;
      color: #fff;
  height:200px;
    }
    .jumbo-direct{
    background-image:linear-gradient(to bottom, #212121  0%, #7E57C2 35%, #7E57C2 75%,#B39DDB 90%), url(D:/churchlocator/images/street1.jpg);      
   background-blend-mode: multiply;
      background-repeat:no-repeat;background-size:100% 100%;display: block;padding-top: 15px;
      color: #fff;
  height:200px;
  }
         .jumbo-text-direct{
    font: 40px Lato,thin, sans-serif;font-weight:300;margin-top:3%;text-align: center;
  }
  .navbar {
      margin-bottom: 0;
      border-radius: 0;
     top:2%;background:rgba(0,0,0,0);   
   border-color: transparent;height:10%; width:5%;

       }
       .navbar-collapse{
      height:auto;position:absolute;
      margin-top:15%;
     }
      .brand-logo{
      font-size:24px;cursor:pointer;color:white;
    }
        .jumbo-text{
  	font: 40px Lato,thin, sans-serif;font-weight:300;margin-top:2%;text-align: center;
  }
  /*.mid-div{
background-color:rgba(50,150,200,0.5);
position:absolute;top:0%;left:0;bottom: 0px;height:33%;
   width:100%;
    }*/
     #btn_free_list{
     border-radius: 50px;font-size: 14px;
	color:white;height:30px;width:95px;padding-top:2px;margin:15PX 15PX 5PX 0PX; border:1px dashed white;

     }

    .home-btn-find{
  width:150px;height:40px;border-radius:2;
  margin:10px 0px 70px 5px;font-size:20px;color:white;padding-top:5px;
}
.home-btn-add{
	width:150px;height:40px;border-radius:2;
 margin:50px 0px 70px 5px;font-size:20px;
	background:transparent;border:1px dashed white;color:white;padding-top:5px;

}
.btn-find-div{
  width:100%;margin-bottom:7px;margin-top: 3%;
  height: 100%; font-size: 20px;
}
.row.content {height: 100%;margin-bottom:10px;padding:0px;}
        /* Set gray background color and 100% height */
  
          .row-search{
            max-height: 650px;height:600px;width:100%;margin-left:0px;
          }
.btn-find-div{
  width:100%;margin-bottom:7px;margin-top: 3%;
  height: 100%; font-size: 16px;
}
.glyph-search-btn{
  margin-left: 5px;
}
.logo {
      /*color: #826969;*/
      color: #64FFDA;
      font-size: 20px; margin-left:5px;padding: 0px;
 }
  .logo-big {
    color:cyan;
      font-size: 35px; margin-left:0px;padding-right: 5px;font-weight: thin;
      margin-top:5px;
 }
    .ticker{
      height:426px;margin-bottom:1%;
    }
    .ticker_pic{
height:426px;width:100%;
}
     .well-scrl{
      height:780px;overflow:scroll;border:2px solid yellow;
    }
    
    #div_search_container{
  margin-top:50px;padding-top:0px;
}
   
    div.polaroid {
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
margin:1px 1px 5px 1px;padding:0px 0px 0px 0px;width:100%;border-radius: 2;
}
#row_search_container{
  padding:5px 10px;margin:10px 10px;
}
div.polaroid_add_div{
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
margin:2% 10px 5px 2%;padding:0px 0px 10px 0px;width:97%;border-radius: 2;background:#fff;height:148px;
}
.main_pic{
  width:100%;height:148px;
}
.main_header{
  font-size: 18px;margin-top:4px;font-weight: bold;/*color:#0097db;*/color:#725e9e;padding-bottom:0px;margin-bottom:2px;
}
.main_para{
font-size: 14px;margin-right:5px;
}
#upcoming_div{
  margin-top: 1%;
}
 .row-header{
            padding-top: 7px;padding-bottom: 0px;
            font-size: 26px;  text-align: center;
            }
.panel-heading{
  padding:0px;font-size:8px; 
}
 .carousel-control{
   width:6%;
    }
     .advertise{
      padding-top: 0px;
      height: 100%; margin-top:0px;padding:0px;
    }
  
    .divad{
margin-top: 10px;
margin-bottom:10px;height:105px;width:100%;

  }
 } 