 @media screen and (max-width: 767px) {
      .jumbo-main {
      background-image:linear-gradient(141deg, #E91E63 0%, #B39DDB 15%, #673AB7 35%,#4A148C 51%, #E1BEE7 75%,#B39DDB 90%,#4A148C 100% ), url(D:/churchlocator/images/crossnew1.jpg);
      background-blend-mode:multiply;
   background-blend-mode: multiply;
      background-repeat:no-repeat;background-size:100% 100%;display: block;padding-top: 15px;
           color: #fff;
  height:140px;
  }
   .jumbo-direct{
    background-image:linear-gradient(to bottom, #212121  0%, #7E57C2 35%, #7E57C2 75%,#B39DDB 90%), url(D:/churchlocator/images/street1.jpg);      
   background-blend-mode: multiply;
      background-repeat:no-repeat;background-size:100% 100%;display: block;padding-top: 15px;
      color: #fff;
  height:140px;
  }
   .jumbo-text-direct{
 font: 20px Lato,thin, sans-serif;font-weight:300;margin-top:3%;
  }
  .navbar {
      margin-bottom: 0;
      border-radius: 0;
     top:2%;width:100%;background:rgba(0,0,0,0.5);   
   border-color: transparent;

       }
        .brand-logo{
      font-size:14px;cursor:pointer;color:white;margin-top: 5px;
    }
        .jumbo-text{
  	font: 20px Lato,thin, sans-serif;font-weight:300;margin-top:1%;
  }
  #div_search_container{
  margin-top:0px;padding-top:0px;
}
      
      .row.content {height:auto;padding:0px;}
  .row-search{
           height:auto;width:100%;margin-left:0px;
          }
           .row-header{
            padding-top: 10px;padding-bottom: 0px;
            font-size: 22px;  text-align: center;
            }
  /*.mid-div{
background-color:rgba(50,150,200,0.5);
position:absolute;top:0%;left:0;bottom: 0px;height:60%;
   width:100%;
    }*/
     #btn_free_list{
     border-radius: 50px;font-size: 14px;
	color:white;height:30px;width:95px;padding-top:2px;margin:15PX 15PX 5PX 0PX; border:1px dashed white;

     }

    .home-btn-find{
  width:150px;height:35px;border-radius:2;
  margin:10px 0px 20px 5px;font-size:15px;color:white;padding:5px;
}
.home-btn-add{
	width:150px;height:40px;border-radius:2;
 margin:10px 0px 70px 5px;font-size:15px;
	background:transparent;border:1px dashed white;color:white;padding-top:5px;
}
.btn-find-div{
  width:100%;margin-bottom:7px;margin-top: 3%;
  height: 100%; font-size: 12px; 
}
.glyph-search-btn{
  margin-left: 3px;
}
 .advertise{
      padding-top: 0px;
      height: 100%; background-color:white;  margin-top:2%;padding:0px;
    }
  
    .divad{
margin-top: 2px;
margin-bottom:2px;height:140px;width:100%;

  }
 .well-scrl{
      height:500px;overflow-y:scroll;
    }
    
.logo {
      /*color: #826969;*/
      color: #64FFDA;
      font-size: 20px; margin-left:5px;padding: 0px;
 }
  .logo-big {
    color:cyan;
      font-size: 35px; margin-left:0px;padding-right: 5px;font-weight: thin;
      margin-top:5px;
 }

    .ticker{
      height:310px;margin-top:2%;
    }
    .ticker_pic{
height:310px;width:100%;
}
    div.polaroid {
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
margin:1px 1px 5px 1px;padding:0px 0px 0px 0px;width:100%;border-radius: 2;
}
div.polaroid_add_div{
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
margin:2% 1% 5% 0%;padding:0px 0px 0px 0px;width:100%;border-radius: 2;background:#fff;height:130px;
}
.main_pic{
  width:100%;height:130px;
}
.main_header{
  font-size: 15px;margin-top:3px;font-weight: bold;/*color:#0097db;*/color:#725e9e;margin-bottom:5px;
}
.main_para{
font-size: 14px;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;
}
#upcoming_div{

}
div.card {
    text-align: center;margin:2% 1% 2% 2%;padding:0px 0px 0px 0px;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.2);width:95%;height:250px;background-color: white;
}
.panel-heading{
  padding:0px;font-size:9px; 
}


.divad{
margin-top: 2px;
margin-bottom:2px;height:140px;

  }

}
@media screen and (max-width: 430px) {
.main_header{
  font-size: 13px;margin-top:3px;font-weight: bold;/*color:#0097db;*/color:#725e9e;margin-bottom:0px;padding-bottom: 0px;
}
.main_header{
  font-size: 12px;margin-top:3px;font-weight: bold;/*color:#0097db;color:#725e9e;margin-bottom: 0px;*/
}
.main_para{
font-size: 10px;padding:0px 0px 5px 0px;padding: 0px;margin:0px 0px 0px 0px;
}
}