
       
<!--
                    <div class="container" ng-controller="newCtrl">
                        
                         <ul ng-repeat="c in church">
                            <li>{{c.ChurchName}}</li>
                            <li>{{c.ChurchArea}}</li>
                            <li>{{c.ChurchPhoneNumber}}</li>
                            <li>{{c.ChurchDenomination}}</li> 
                            <li>{{c.ChurchPastor}}</li> 
                            <li>{{c.ChurchLanguage}}</li> 
                            <li>{{c.ChurchService}}</li> 
                            <li>{{c.ChurchContent}}</li> 
                             <li>{{c.ChurchSplService}}</li> 
                        </ul>  
                    </div>
-->

